In [1]:
from bs4 import BeautifulSoup
from selenium import webdriver
import re
import time
import pandas as pd
import itertools

In [55]:
bound = pd.read_excel('C:/Users/johm7/Desktop/bound.xlsx')
outbs = bound['odb'].tolist()
inbs = bound['idb'].tolist()
outb = odbs[0]
inb = idbs[0]

In [56]:
dest = 'jfk'  # 도착지 입력

driver = webdriver.Chrome('C:/Users/johm7/PYTHON/chromedriver.exe')

url = 'https://www.skyscanner.co.kr/transport/flights/sela/{}/{}/{}/?adults=1&children=0&adultsv2=1&childrenv2=&infants=0&cabinclass=economy&rtn=1&preferdirects=true&outboundaltsenabled=false&inboundaltsenabled=false&ref=home&airlines=OZ,KE,!multiple'.format(dest, outb, inb)
driver.get(url)
time.sleep(3)

html = driver.page_source
soup = BeautifulSoup(html, 'html.parser')

ticket = soup.select('div.TicketBody_container__2jxzZ')

In [28]:

#ticket_time = re.findall(r'4yauk">(.*?)</', str(ticket))

#ticket_bound = re.findall(r'ZqOZK">(.*?)</', str(ticket))

In [31]:
ticket_carr = re.findall(r'345aT">(.*?)</', str(ticket))
print(ticket_carr)
print(len(ticket_carr))

['\xa0대한항공 (KAL)', '\xa0대한항공 (KAL)', '\xa0대한항공 (KAL)', '\xa0대한항공 (KAL)', '\xa0아시아나항공', '\xa0아시아나항공', '\xa0아시아나항공', '\xa0아시아나항공']
8

In [32]:
ticket_price = soup.select('div > div.Price_mainPriceContainer__1dqsw > span.BpkText_bpk-text__2NHsO.BpkText_bpk-text--lg__3vAKN.BpkText_bpk-text--bold__4yauk')

In [33]:
ticket_price_list = re.findall(r'4yauk">(.*?)</', str(ticket_price))    
print(ticket_price_list[3:])

['₩1,126,100', '₩1,126,100', '₩1,126,100', '₩1,126,100', '₩1,200,300', '₩1,200,300', '₩1,200,300', '₩1,200,300']

In [34]:
price_list_df = []

In [35]:
for i in ticket_price_list[3:]:
    price_list = i
    price_list_df.append(price_list)

In [36]:
print(price_list_df)

['₩1,126,100', '₩1,126,100', '₩1,126,100', '₩1,126,100', '₩1,200,300', '₩1,200,300', '₩1,200,300', '₩1,200,300']

In [37]:
carr_list_df = []
for a in ticket_carr:
    carr_list = a
    carr_list_df.append(carr_list)
    
print(carr_list_df)

['\xa0대한항공 (KAL)', '\xa0대한항공 (KAL)', '\xa0대한항공 (KAL)', '\xa0대한항공 (KAL)', '\xa0아시아나항공', '\xa0아시아나항공', '\xa0아시아나항공', '\xa0아시아나항공']

In [38]:
carr = pd.Series(ticket_carr)

In [39]:
print(carr)

0     대한항공 (KAL)
1     대한항공 (KAL)
2     대한항공 (KAL)
3     대한항공 (KAL)
4         아시아나항공
5         아시아나항공
6         아시아나항공
7         아시아나항공
dtype: object

In [40]:
price = pd.Series(ticket_price_list[3:])
print(price)

0    ₩1,126,100
1    ₩1,126,100
2    ₩1,126,100
3    ₩1,126,100
4    ₩1,200,300
5    ₩1,200,300
6    ₩1,200,300
7    ₩1,200,300
dtype: object

In [41]:
data_df = []
data_df = pd.concat([carr, price], axis=1)
data_df.columns = ['항공사', '가격']

In [42]:
data_df

           항공사          가격
0   대한항공 (KAL)  ₩1,126,100
1   대한항공 (KAL)  ₩1,126,100
2   대한항공 (KAL)  ₩1,126,100
3   대한항공 (KAL)  ₩1,126,100
4       아시아나항공  ₩1,200,300
5       아시아나항공  ₩1,200,300
6       아시아나항공  ₩1,200,300
7       아시아나항공  ₩1,200,300

In [45]:
data_df.to_excel('C:/Users/johm7/Desktop/sky.xlsx')